body,
html {
    margin: 0;
    padding: 0;
}

body {
    background: url("https://gblobscdn.gitbook.com/assets%2F-LiR2ZMOIaxmhLlPQhLa%2F-LsKO0ePPOrb2KQEd7Gq%2F-LsKOnZbYN8Zs5H89ODH%2Fpattern.jpg?alt=media&token=27a7b746-8252-45a5-8df2-b1b68fb8ceae");
}

/* Style untuk navbar */
header {
    width: 100%;
    height: 65px;
    background-color: #fff;
}

img {
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
}

ul {
    width: auto;
    float: right;
    margin-top: 15px;
    margin-right: 25px;
}

li {
    display: inline-block;
    text-decoration: none;
    color: mediumblue;
    padding: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

a {
    text-decoration: none;

}

.container {
    padding-top: 5px;
    margin: 80px auto 20px auto;
    width: 70%;
    background-color: white;
}

.container h1 {
    text-align: center;
}

article {
    margin-bottom: 10px;
    padding: 5px 20px;
}

article p {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(106, 115, 119);
}

footer {
    background-color: black;
    padding: 1px;
}

footer h5 {
    font-size: 17px;
    text-align: center;
    color: white;
}